@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Start Lelo NOW !!!</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Przykładowe loginy</h2>
        <p>
            <strong>Konto Administratora</strong><br />
            login (email): admin@example.com <br />
            password: 123456
        </p><p>
            <strong>Konto Użytkownika Zwykłego</strong><br />
            login (email): lelouser@example.com <br />
            password: 123456
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pierwsze uruchomienie:</h2>
        @Html.ActionLink("Kliknij tutaj", "Init")
    </div>
    <div class="col-md-4">
        <h2>...</h2>
    </div>
</div>